@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
:root {
  --main-bg-color: #000000;
  --card-bg-color: #2D3047;
  --accent: #9FCC2E;
  --light: #CCDBDC;
  --dark: #969A97;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Rubik', sans-serif;
}

#page-wrapper {
  position: relative;
}
/* Navigation */
header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c74f17;
  color: #fff;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #fff;  
  padding: 20px;
  letter-spacing: 3px;
}

a:hover {
  background-color: #111;
  padding: 20px;
}


@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}



/* sign up form */
#email-form {
  display: flex;
  height: 200px;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

#signup {
  width: 300px;
  height: 200px;
  background-color: var(--accent);
}

#signup input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin: 10px;
}

#signup input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: var(--dark);
  color: #fff;
}

#signup input[type="submit"]:hover {
  background-color: var(--light);
  color: var(--main-bg-color);
}

#form {
  padding: 10px;
  margin: 10px;
}

/* About Section */
#about {
  padding: 10px;
  line-height: 1.6;
  background-color: var(--dark);
  margin: 20px;
}

#video {
  padding: 10px;
}

/* Packages */
#packages h2 {
  color: #fff;
  margin: 10px;
}
.package-grid {
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  margin: 20px;
}
#package {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  padding: 10px;
  background-color: var(--accent);
}

#package ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

#package li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#package li a:hover {
  background-color: #111;
}

/* Contact */
#contact {
  background-color: var(--dark);
  width: 100%;
  padding: 10px;
  margin: 10px;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer */
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}
